# Virtual environments
venv/
.venv/
.venv312/
env/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython-*

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Zip files
*.zip

# Build files
dist/
build/
*.egg-info/
